bitsandbytes==0.45.4
deepspeed==0.16.4
diffusers==0.32.2
editdistance==0.8.1
einops==0.8.1
fastapi==0.115.12
gradio==5.23.1
huggingface_hub==0.29.3
numpy==2.2.4
openai==1.68.2
packaging==24.2
pandas==2.2.3
peft==0.15.0
Pillow==11.1.0
protobuf==6.30.1
pycocoevalcap==1.2
ray==2.44.0
Requests==2.32.3
shortuuid==1.0.13
torch==2.4.0+cu121
torchvision==0.19.0+cu121
tqdm==4.67.1
transformers==4.50.1
uvicorn==0.34.0
